{
  "printWidth": 140,
  "singleQuote": true,
  "jsxBracketSameLine": true,
  "vue/html-self-closing": false,
  "quoteProps": "consistent",
  "trailingComma": "all",
  "htmlWhitespaceSensitivity": "strict"
}
